/** @format */

.container {
  color: var(--primary);
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
  text-indent: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.tabellStyling {
  width: 100%;
  background-color: var(--backgroundWhite);
  border-collapse: collapse;
  color: var(--primary);
  text-align: center;
}

.textLeft {
  text-align: left;
}

table.tabellStyling {
  width: 100%;
  border-collapse: collapse;
}

table.tabellStyling td,
table.tabellStyling th {
  padding: 8px;
}

table.tabellStyling thead {
  background-color: var(--primary);
  color: var(--secondary);
}

.roundedCornerRight {
  border-top-right-radius: 6px;
}

.roundedCornerLeft {
  border-top-left-radius: 6px;
}
