/** @format */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.button,
.input,
.select,
.textarea {
  font: inherit;
}

.logo {
  display: block;
}

.strong {
  font-weight: 600;
}

.body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: var(--primary);
  background-color: #f3f5f9;
}

.match {
  background-color: var(--secondary);
  display: flex;
  width: 96%;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
  color: var(--primary);
}

.matchHeader {
  display: flex;
  border-bottom: 2px solid rgba(48, 48, 48, 0.1);
  padding: 16px;
  color: var(--primary);
}

.matchStatus {
  background-color: #71c562d9;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: auto;
  color: var(--secondary);
}

.matchTournament {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--primary);
}
.matchTournament img {
  width: 20px;
  margin-right: 12px;
}

.matchContent {
  display: flex;
  position: relative;
}

.column {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamLogo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15), 0 0 0 15px #f3f5f9;
}
.teamLogo img {
  width: 60px;
  height: 60px;
}

.teamName {
  text-align: center;
  margin-top: 24px;
  font-weight: 600;
}

.teamName:hover {
  color: var(--link-hover);
  cursor: pointer;
}

.matchDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchDate,
.matchReferee {
  color: var(--color-text-secondary);
}
.matchDate strong,
.matchReferee strong {
  color: #8a8f98;
}

.matchScore {
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.matchScoreNumber {
  font-weight: 600;
  line-height: 1;
}
.matchScoreNumberLeading {
  color: #71c562d9;
}

.matchScoreSivider {
  font-weight: 700;
  line-height: 1;
  color: #dbdade;
  margin-left: 10px;
  margin-right: 10px;
}

.matchTimeLapsed {
  color: var(--primary);
  font-weight: 600;
  margin-top: 8px;
}

.matchReferee {
  margin-top: 12px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
