/** @format */

.circleContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -30px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  /* text styling */
  font-size: 20px;
  width: 70px;
  height: 70px;
  color: black;
  text-align: center;
  position: relative;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  font-weight: bold;
}

.circle:hover {
  background-color: #000000;
  color: white;
  transition: 0.4s linear;
  cursor: pointer;
}

.textWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.textWrap span {
  display: block;
}
.circle span:nth-child(2) {
  color: red;

  font-size: 10px;
}
