.btnStyling {
  position: absolute;
  padding: 8px;
  background: var(--backgroundWhite);
  color: var(--primary);
  margin: 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.2s linear;
  cursor: pointer;
  z-index: 1;
}

.btnStyling:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 0.2s linear;
  cursor: pointer;
}
