.container {
  color: black;
  margin: 10px;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  text-indent: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.tabellStyling {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  color: #000000;
  text-align: center;
  border-radius: 6px;
}

.textLeft {
  text-align: left;
}

table.tabellStyling {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
}

table.tabellStyling td,
table.tabellStyling th {
  padding: 3px;
}

table.tabellStyling thead {
  background-color: #000000;
  color: white;
  border-radius: 6px;
}

.roundedCornerRight {
  border-top-right-radius: 6px;
}

.roundedCornerLeft {
  border-top-left-radius: 6px;
}
