/** @format */

.deleteBtn {
  padding: 10px;
  background: var(--backgroundWhite);
  color: var(--primary);
  border-radius: 0px 6px 6px 0px;
  transition: 0.2s linear;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.deleteBtn:hover {
  background-color: var(--delete-hover);
  color: var(--secondary);
  transition: 0.2s linear;
  cursor: pointer;
}
