.circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0px;
  /* text styling */
  width: 15px;
  height: 15px;

  border: 1px solid #fff;
  text-align: center;
  position: relative;

  background: white;
}

.textWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}
.textWrap span {
  display: block;
}
.circle span:nth-child(2) {
  color: red;
}
