/** @format */

.rightRadius {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  color: var(--primary);
  background-color: var(--backgroundWhite);
  border-radius: 0px 6px 6px 0px;
  width: 33.33%;
  text-align: center;
  padding: 4px;
}

.squared {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  background-color: var(--backgroundWhite);
  width: 33.33%;
  text-align: center;
  padding: 4px;
}

.leftRadius {
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  background-color: var(--backgroundWhite);
  width: 33.33%;
  border-radius: 6px 0px 0px 6px;
  text-align: center;
  padding: 4px;
}

.main {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.leftRadius:hover {
  background-color: #71c562d9;
  color: var(--secondary);
  transition: 0.4s linear;
  cursor: pointer;
}

.squared:hover {
  background-color: #71c562d9;
  color: var(--backgroundWhite);
  transition: 0.4s linear;
  cursor: pointer;
}

.rightRadius:hover {
  background-color: #71c562d9;
  color: var(--backgroundWhite);
  transition: 0.4s linear;
  cursor: pointer;
}
