.rightRadius {
  border: 1px outset black;
  color: black;
  background-color: white;
}

.squared {
  border: 1px outset black;
  color: black;
  background-color: white;
}

.leftRadius {
  border: 1px outset black;
  color: black;
  background-color: white;
}
