/** @format */

:root {
  --primary: #1b3a15;
  --backgroundWhite: #fff;
  --secondary: #fff;
  --success: #916bbf;
  --link-hover: rgba(145, 107, 191, 0.3);
  --button-hover: rgba(145, 107, 191, 0.8);
  --nav-gradient: linear-gradient(90deg, #3d2c8d 0%, #1c0c58 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif;
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #fff;
  }
}
