/** @format */

.container {
  background-color: #348c31;
  height: 100vh;
  max-width: 100%;
}

.containerImg {
  background-image: url('../Images/landing.jpg');

  object-fit: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.title {
  text-indent: 10px;
  color: #fff;
  position: relative;
  top: -600px;

  font-size: 70px;
  color: #fff;
}
