/** @format */

.lagInfoContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  grid-template-rows: repeat(8, 1fr);

  grid-column-gap: 16px;

  grid-row-gap: 16px;

  height: 100vh;

  width: 100%;
}

.headerLogo {
  grid-area: 1 / 1 / 3 / 3;
  background-color: gray;
}

.spelarTrupp {
  grid-area: 3 / 2 / 7 / 3;
  background-color: gray;
}

.kontaktInfo {
  grid-area: 3 / 1 / 5 / 2;
  background-color: gray;
  font-size: 8px;
}

.omkladningsRum {
  grid-area: 5 / 1 / 7 / 2;
  background-color: gray;
}

.hittaHit {
  grid-area: 7 / 1 / 9 / 2;
  background-color: gray;
}

.viktigInfo {
  grid-area: 7 / 2 / 9 / 3;
  background-color: gray;
}
